body {
    margin: 0;
    padding: 0;
    background: #666699;
}

.header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.search__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}


.search__box:hover > .text {
    width: 240px;
    padding: 0 6px;
}

.search__box:hover > .button {
    background: #666699;
    color: #fff;
}

.button {
    color: #fff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ff6680;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: #fff;
    cursor: pointer;
}

.button > i {
    font-size: 30px;
}

.text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.6s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}

@media (max-width: 575px) {
    .header {
        top: 35%;
        font-size: 30px;
    }
    
}